@forward 'vuetify/settings' with (
  $color-pack: false,
  //VTooltip
  $tooltip-border-radius: 10px,
  $tooltip-background-color: yellow,
  $tooltip-text-color: white,
  $tooltip-padding: 16px 16px,
);
